<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleInfoMapper">
    <select id="getDetail" resultType="com.example.demo.entity.vo.ArticleInfoVo">
        select * from articleinfo,userinfo where articleinfo.uid = userinfo.id and articleinfo.uid = #{uid}
    </select>
    <update id="update">
        update userinfo set password=#{newPassword} where password = #{password} and id = #{id}
    </update>
    <insert id="addUser" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo(username,password) values (#{username},#{password})
    </insert>
    <insert id="addUser2" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo(username,password
        <if test="photo != null">
            ,photo
        </if>
        ) values(#{username},#{password}
        <if test="photo != null">
            ,#{photo}
        </if>
        )
    </insert>
    <insert id="addUser3" useGeneratedKeys="true" keyProperty="id">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="photo != null">
                photo
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="photo != null">
                #{photo}
            </if>
        </trim>
    </insert>
    <select id="getList" resultType="com.example.demo.entity.vo.ArticleInfoVo">
        select * from articleinfo
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>
    <delete id="delByList">
        delete from articleinfo
        where id in
        <foreach collection="idList" item="aid" open="(" close=")" separator=",">
            #{aid}
        </foreach>
    </delete>
</mapper>
